.Kraken, .Enterprise, .District {
    text-align: center;
    /*font-family: 'Nunito Sans', sans-serif;*/
}

.page-title {
    background-color:  rebeccapurple;
    color: white;
}

.header-img {
    height: 400px;
}

.main-button {
    height: 300px;
    border-radius: 5px;
    background-color: lightskyblue;
    box-shadow: 0px 0px 20px -5px grey;
    overflow: hidden;
    max-width: 350px;
}

.main-button:hover {
    box-shadow: none;
}

.button-img {
    height: 300px;
    object-fit: cover;
    opacity: 0.5;
}