.carousel-img{
    max-height: 500px;
    object-fit: cover;
    filter: opacity(60%);
}

.carousel-caption-img{
    height: 300px;
}

.carousel-text{
    color:  #7413dc; 
    font-weight: 600;
}

.wide-card-img{
    max-height: 150px;
    object-fit: cover;
}

.centre-text{
    text-align: center;
}